<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DbExecutor" version="2.0.0.1" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.0" />
  <package id="ReactiveProperty" version="0.3.2.0" />
  <package id="Rx-Main" version="1.0.11226" />
  <package id="System.Data.SQLite" version="1.0.81.0" />
</packages>