<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ix_Experimental-Main" version="1.1.10823" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.0" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="ReactiveProperty" version="0.3.2.0" />
  <package id="ReactiveProperty-Experimental" version="0.3.2.0" />
  <package id="Rx_Experimental-Main" version="1.1.11111" />
  <package id="Rx-Main" version="1.0.11226" />
  <package id="System.Data.SQLite" version="1.0.81.0" />
</packages>